# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Node / 前端构建产物
node_modules/
frontend/dist/

# 环境变量
.env
